<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="./logo.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <title>DAE Recruiters</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip to Content</a>
    <header class="app-bar">
      <div class="app-bar__brand">
        <img src="./logo.png" alt="DAE Recruiters Logo" />
      </div>
      <div class="app-bar__menu">
        <button id="hamburgerButton" aria-label="Toggle navigation menu">
          ☰
        </button>
      </div>
      <nav class="app-bar__navigation" id="NavigationDrawer">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#cari">Cari Lowongan Kerja</a></li>
          <li><a href="#/pasang">Pasang Lowongan Kerja</a></li>
          <li><a href="#/tips">Tips Loker</a></li>
          <li class="login-button"><a href="#/login">Login</a></li>
        </ul>
      </nav>
    </header>
    <main id="mainContent" tabindex="0"></main>
    <footer>
      <div class="footer-copyright">
        <span>DAE Recruiters</span>
        <p>&copy; 2024 DAE Recruiters</p>
        <a href="#/tentangloker"><img src="./icon.png" alt="Icon Sosial Media" /></a>
      </div>
      <nav class="footer-nav">
        <ul>
          <li><h4>Tentang Kami</h4></li>
          <li><a href="#/tentangloker">Tentang Loker</a></li>
          <li><a href="#/pusatbantuan">Pusat Bantuan</a></li>
        </ul>
        <ul>
          <li><h4>Pencari Kerja</h4></li>
          <li><a href="#cari">Cari Lowongan Kerja</a></li>
          <li><a href="#/tips">Tips Loker</a></li>
        </ul>
        <ul>
          <li><h4>Perusahaan</h4></li>
          <li><a href="#/registrasi">Registrasi Perusahaan</a></li>
          <li><a href="#/pasang">Pasang Lowongan Kerja</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
