@media (max-width: 840px) {
  footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .footer-copyright p {
    margin-bottom: 15px;
  }

  .footer-copyright {
    margin-left: 8px;
  }

  .footer-nav {
    flex-direction: column;
  }

  .buat-lowongan-container,
  .edit-lowongan-container,
  .kelolaakun-container {
    width: 100%;
  }

  .main-content-buatlowongan h1,
  .main-content-manajemen h1,
  .main-content-kelolaakun h1,
  .main-content-dashboard h1,
  .main-content-editloker h1 {
    font-size: 1.8em;
  }

  .buatloker-form input,
  .buatloker-form textarea,
  .editloker-form textarea,
  .editloker-form input,
  .kelolaakun-form input {
    font-size: 0.9rem;
  }

  .submit-buatloker-button,
  .submit-editloker-button {
    font-size: 0.9rem;
    padding: 0.65rem;
  }

  .button-cards {
    padding: 10px 20px;
  }

  .sidebar {
    width: 200px;
    padding: 15px;
  }

  .sidebar h2 {
    font-size: 1.3em;
  }

  .sidebar ul li a {
    font-size: 1em;
    padding: 8px;
  }
}

@media screen and (min-width: 840px) {
  .app-bar {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__brand img {
    width: 80px;
    height: 80px;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
    background-color: transparent;
    padding-top: 0;
  }

  .app-bar .app-bar__navigation ul {
    flex-direction: row;
    gap: 10px;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .pusat-bantuan-title {
    font-size: 36px;
  }

  .pusat-bantuan h3 {
    font-size: 29px;
  }

  .pusat-bantuan p {
    font-size: 17px;
  }

  .pusat-bantuan ul li {
    font-size: 17px;
  }

  .pasang-loker-title {
    font-size: 40px;
  }

  .pasang-loker-description {
    font-size: 22px;
  }

  .login-form-container,
  .regis-form-container {
    width: 90%;
    padding: 1rem;
  }

  .login-form-container h2,
  .regis-form-container h2 {
    font-size: 2rem;
  }

  .login-form input,
  .regis-form input {
    padding: 0.5rem;
  }

  .submit-button,
  .submit-regis-button {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .buat-lowongan-container,
  .edit-lowongan-container,
  .kelolaakun-container {
    width: 100%;

  }

  .main-content-buatlowongan h1,
  .main-content-dashboard h1,
  .main-content-manajemen h1,
  .main-content-kelolaakun h1,
  .main-content-editloker h1 {
    font-size: 1.6em;
  }

  .buatloker-form input,
  .buatloker-form textarea,
  .editloker-form textarea,
  .kelolaakun-form input,
  .editloker-form input {
    font-size: 0.85rem;
  }

  .submit-buatloker-button,
  .submit-editloker-button,
  .submit-kelolaakun-button {
    font-size: 0.85rem;
    padding: 0.6rem;
  }

  .button-cards {
    padding: 8px 18px;
  }

  .sidebar {
    width: 180px;
    padding: 10px;
  }

  .sidebar h2 {
    font-size: 1.2em;
  }

  .sidebar ul li a {
    font-size: 0.9em;
    padding: 6px;
  }

  .about-loker {
    flex-direction: column-reverse;
    gap: 25px;
    align-items: center;
  }

  .image-about {
    width: 220px;
    height: auto;
    margin-top: 15px;
  }

  .about-title {
    font-size: 36px;
  }

  .about-subtitle {
    font-size: 25px;
  }

  .about-subarticle {
    font-size: 20px;
  }

  .about-loker p {
    font-size: 18px;
  }

  .about-loker h5 {
    font-size: 18px;
  }

  .about-loker h6 {
    font-size: 18px;
  }

  .button-cards {
    padding: 12px 24px;
  }

  .sidebar {
    width: 180px;
    padding: 10px;
  }

  .sidebar h2 {
    font-size: 1.2em;
  }

  .sidebar ul li a {
    font-size: 0.9em;
    padding: 6px;
  }

  .content-tips {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
  }

  .content-tips p {
    font-size: 18px;
  }

  .image1 {
    width: 360px;
    height: 220px;
    margin-top: 15px;
  }

  .tips-loker-title {
    font-size: 36px;
  }

  .tips-loker-subtitle {
    font-size: 25px;
  }
}

@media (max-width: 670px) {

  .buatloker-form input::placeholder,
  .buatloker-form textarea::placeholder,
  .kelolaakun-form input::placeholder {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .pasang-loker-button {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .pasang-loker-button a {
    width: 100%;
    padding: 10px;
    font-size: 15px;
  }

  .login-form-container,
  .regis-form-container {
    width: 100%;
    padding: 1rem;
  }

  .login-form-container h2,
  .regis-form-container h2 {
    font-size: 1.5rem;
  }

  .login-form input,
  .regis-form input {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .submit-button,
  .submit-regis-button {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .login-form-container p,
  .regis-form-container p {
    font-size: 1rem;
  }

  .sidebar {
    width: 150px;
    padding: 5px;
  }

  .sidebar h2 {
    font-size: 1em;
  }

  .sidebar ul li a {
    font-size: 0.8em;
    padding: 4px;
  }

  .buat-lowongan-container,
  .kelolaakun-container,
  .edit-lowongan-container {
    width: 100%;
  }

  .buat-lowongan-container p,
  .kelolaakun-container p,
  .edit-lowongan-container p {
    font-size: 14px;
  }

  .main-content-buatlowongan h1,
  .main-content-manajemen h1,
  .main-content-dashboard h1,
  .main-content-kelolaakun h1,
  .main-content-editloker h1 {
    font-size: 1.4em;
  }

  .buatloker-form input,
  .buatloker-form textarea,
  .kelolaakun-form input,
  .editloker-form textarea,
  .editloker-form input {
    font-size: 0.9rem;
  }

  .submit-buatloker-button,
  .submit-kelolaakun-button,
  .submit-editloker-button {
    font-size: 0.8rem;
    padding: 0.55rem;
  }

  .button-cards {
    padding: 6px 16px;
  }
}

@media (max-width: 490px) {
  .pusat-bantuan-title {
    font-size: 28px;
  }

  .pusat-bantuan h3 {
    font-size: 21px;
  }

  .pusat-bantuan p {
    font-size: 14px;
  }

  .content-tips p {
    font-size: 14px;
  }

  .image1 {
    width: 300px;
    height: 190px;
    margin-top: 15px;
  }

  .tips-loker-title {
    font-size: 28px;
  }

  .tips-loker-subtitle {
    font-size: 21px;
  }

  .pusat-bantuan ul li {
    font-size: 14px;
  }

  .login-form-container h2,
  .regis-form-container h2 {
    font-size: 1.5rem;
  }

  .login-form input,
  .regis-form input {
    padding: 0.25rem;
    font-size: 0.875rem;
  }

  .submit-button,
  .submit-regis-button {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  .login-form-container p,
  .regis-form-container p {
    font-size: 0.875rem;
  }

  .about-loker {
    flex-direction: column-reverse;
    gap: 25px;
  }

  .image-about {
    width: 190px;
    height: auto;
    margin-top: 15px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-subtitle {
    font-size: 21px;
  }

  .about-subarticle {
    font-size: 21px;
  }

  .about-loker p {
    font-size: 16px;
  }

  .about-loker h5 {
    font-size: 16px;
  }

  .about-loker h6 {
    font-size: 16px;
  }

  .button-cards {
    padding: 12px 24px;
  }

  .sidebar {
    padding: 5px;
  }

  .sidebar h2 {
    font-size: 1.2em;
  }

  .sidebar ul li a {
    font-size: 0.9em;
    padding: 6px;
  }

  .main-content-buatlowongan h1,
  .main-content-manajemen h1,
  .main-content-dashboard h1,
  .main-content-kelolaakun h1,
  .main-content-editloker h1 {
    font-size: 1.4em;
  }

  .buat-lowongan-container,
  .kelolaakun-container,
  .edit-lowongan-container {
    width: 100%;
  }

  .buatloker-form input,
  .buatloker-form textarea,
  .editloker-form textarea,
  .editloker-form input,
  .kelolaakun-form input {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .submit-kelolaakun-button {
    padding: 0.5rem;
    font-size: 0.75rem;
  }

  .buatloker-form input::placeholder,
  .buatloker-form textarea::placeholder,
  .kelolaakun-form input::placeholder {
    font-size: 10px;
  }

  .job-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px 20px;
  }

  .job-card {
    background-color: #eaeaea;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 18px;
  }

  .job-card .highlight a {
    font-size: medium;
    text-align: justify;
  }

  .pasang-loker-title {
    font-size: 28px;
  }
  
  .pasang-loker-description {
    font-size: 16px;
  }

  .pasang-loker-content a {
    padding: 10px;
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .sidebar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .sidebar h2 {
    font-size: 1em;
  }

  .sidebar ul li a {
    font-size: 0.8em;
    padding: 4px;
  }

  .buat-lowongan-container {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }

  .judul-buatloker {
    font-size: 24px;
  }

  .submit-text {
    font-size: 14px;
    margin-top: 8px;
  }
}

@media (max-width: 360px) {
  .image-tips {
    max-width: 300px;
  }

  .image1 {
    max-width: fit-content;
    margin-left: 11px;
    margin-bottom: 7px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 20px;
  }

  .hero a {
    padding: 15px 25px;
  }

  .search-jobs h2 {
    font-size: 32px;
  }

  .search-bar input {
    padding: 8px;
    font-size: medium;
  }

  .search-bar button {
    padding: 8px;
    font-size: medium;
  }

  .tips-loker-subtitle {
    font-size: 22px;
    margin-top: 0.5em;
  }

  .content-tips p {
    font-size: 16px;
  }

  .pasang-loker-content h2{
    font-size: 32px;
  }

  .pasang-loker-content p {
    font-size: 16px;
  }

  footer .footer-nav ul li h4 {
    font-size: 16px;
  }

  footer .footer-nav ul li a {
    font-size: 14px;
  }

  .footer-copyright {
    font-size: 16px;
  }

  .footer-copyright img {
    max-width: 175px;
  }

  .about-subarticle {
    font-size: 20px;
  }

  .about-subtitle {
    margin-top: 0.5em;
  }
  
  .main-content-dashboard {
    padding: 5px;
  }

  .job-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    gap: 35px 15px;
  }

  .job-card {
    background-color: #eaeaea;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 18px;
  }

  .job-card .highlight a {
    font-size: medium;
  }
}
