html {
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.skip-link:focus {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  z-index: 9999;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#hamburgerButton {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
  text-decoration: none;
  color: white !important;
}

/* Header */
.app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand img {
  width: 50px;
  height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  min-width: 44px;
  min-height: 44px;
  border-radius: 15px;
}

.app-bar__menu {
  margin-right: 20px;
}

.app-bar__navigation {
  position: fixed;
  top: 70px;
  right: -100%;
  width: 200px;
  height: calc(100% - 50px);
  background-color: black;
  transition: right 0.3s ease-in-out;
  padding-top: 20px;
}

.app-bar__navigation.open {
  height: calc(50% - 50px);
  right: 0;
}

.app-bar .app-bar__navigation ul .login-button {
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 1px 20px;
}

.app-bar .app-bar__navigation ul .login-button a {
  color: black;
  padding-top: 0.8rem;
}

.app-bar .app-bar__navigation ul li a {
  padding-top: 0.8rem;
}

/* Main Content */
main {
  flex: 1;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* Home Content */
.home-page {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero img {
  position: relative;
  margin-top: 4rem;
  width: 100%;
  height: auto;
  display: block;
  max-height: 100vh;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.hero p {
  font-size: 23px;
  margin-bottom: 35px;
}

.hero a {
  background-color: black;
  color: white;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 30px;
  text-decoration: none;
}

.search-jobs {
  padding: 20px;
}

.search-jobs h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-bar input {
  padding: 10px;
  font-size: 20px;
  width: 70%;
  margin-right: 10px;
  border-radius: 10px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.job-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px 30px;
}

.job-cards .job-card {
  background-color: #eaeaea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 22px;
}

.job-cards .job-card h3 {
  margin-bottom: 10px;
  font-size: large;
}

.job-cards .job-card .highlight {
  margin-bottom: 5px;
  font-size: large;
}

.job-card .description {
  text-align: justify;
}

.job-cards .job-card a {
  text-decoration: none;
  color: #000;
  min-width: 44px;
  min-height: 44px;
}

.no-results-search {
  text-align: center;
  margin-top: 5px;
}

/* Detail Loker Content */
.data-loker {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.data-loker h2 {
  margin-top: 20px;
  font-size: xx-large;
}

.data-loker .subHeader {
  margin-top: 18px;
  font-size: larger;
  margin-bottom: 20px;
}

.data-loker h3 {
  margin-top: 18px;
  font-size: large;
  margin-bottom: 5px;
}

.data-loker #deskripsi-perusahaan {
  text-align: justify;
  margin-top: 25px;
  margin-bottom: 20px;
}

.data-loker p {
  font-size: large;
  margin-bottom: 5px;
  text-align: justify;
}

.data-loker h5 {
  margin-top: 18px;
  font-size: large;
}

.icon-sosmed {
  margin-bottom: 18px;
}

.icon-sosmed a {
  text-decoration: none;
  color: black;
  margin-right: 17px;
  margin-left: 10px;
}

.icon-sosmed a:last-child {
  margin-right: 0;
}

.icon-sosmed i {
  font-size: 24px;
  transition: color 0.3s;
}

.icon-sosmed a:hover i {
  color: #0077b5;
}

.icon-sosmed a:hover i.fa-instagram {
  color: #e4405f;
}

.data-loker h5 {
  margin-top: 18px;
  font-size: large;
}

.icon-sosmed {
  margin-bottom: 18px;
}

.icon-sosmed a {
  text-decoration: none;
  color: black;
  margin-right: 17px;
  margin-left: 10px;
}

.icon-sosmed a:last-child {
  margin-right: 0;
}

.icon-sosmed i {
  font-size: 24px;
  transition: color 0.3s;
}

.icon-sosmed a:hover i {
  color: #0077b5;
}

.icon-sosmed a:hover i.fa-instagram {
  color: #e4405f;
}

/* Pasang Loker Content */
.pasang-loker-content {
  text-align: center;
  max-width: 1200px;
  width: 90%;
  margin: 10px auto;
}

.pasang-loker-title {
  font-size: 50px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 30px;
}

.pasang-loker-description {
  font-size: 26px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.pasang-loker-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.pasang-loker-content a {
  padding: 13px;
  font-size: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  margin: 5px;
  width: calc(50% - 30px);
}

/* Tips Loker Content */
.tips-loker {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.tips-loker-title {
  color: #000000;
  font-family: 'Inter-Bold', sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-top: 40px;
}

.tips-loker-subtitle {
  color: #828282;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
}

.content-tips {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.paragraph-tips p {
  color: #000000;
  text-align: justify;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  text-align: justify;
}

.image1 {
  width: 350px;
  height: auto;
}

/* Tentang Loker Content */
.about-page {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.about-title {
  color: #000000;
  font-family: 'Inter-Bold', sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-top: 40px;
}

.about-subtitle {
  color: #828282;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
}

.about-loker {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.about-subarticle {
  color: #000000;
  font-family: 'Inter-Bold', sans-serif;
  font-size: 35px;
  font-weight: 700;
}

.about-loker p {
  color: #000000;
  text-align: justify;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 10px;
}

.about-loker h5 {
  color: #000000;
  font-family: 'Inter-Bold', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 5px;
}

.about-loker h6 {
  color: #000000;
  font-family: 'Inter-Bold', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
}

.about-loker a {
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-decoration: none;
}

.icon-sosmed a:hover i.fa-github {
  color: #0a0896;
}

.image-about {
  width: 300px;
  height: auto;
}

/* Pusat Bantuan Content */
.pusat-bantuan {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.pusat-bantuan-title {
  color: #000000;
  font-family: 'Inter-Bold', sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 15px;
}

.pusat-bantuan h3 {
  color: #000000;
  font-family: 'Inter-Bold', sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 5px;
}

.pusat-bantuan p {
  color: #000000;
  text-align: justify;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  margin-bottom: 10px;
}

.pusat-bantuan a {
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-decoration: none;
}

.pusat-bantuan ul li {
  list-style-type: none;
  color: #000000;
  font-family: 'Inter-Medium', sans-serif;
  font-size: 20px;
  line-height: 150%;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 20px;
}

/* Login Content */
.login-form-container {
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
  margin: 2rem auto;
  width: 500px;
  text-align: center;
}

.login-form-container h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form label {
  text-align: left;
}

.login-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f0f0f0;
}

.submit-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.login-form-container p {
  margin-top: 1rem;
  text-align: left;
}

.login-form-container a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.login-form-container {
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
  margin: 2rem auto;
  width: 500px;
  text-align: center;
}

.login-form-container h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form label {
  text-align: left;
}

.login-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f0f0f0;
}

.submit-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.login-form-container p {
  margin-top: 1rem;
  text-align: left;
}

.login-form-container a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Registrasi Content */
.regis-form-container {
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
  margin: 2rem auto;
  width: 600px;
  text-align: center;
}

.regis-form-container h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.regis-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.regis-form label {
  text-align: left;
}

.regis-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f0f0f0;
}

.regis-form .input-hint {
  margin-top: -0.5rem;
  font-size: 0.875rem;
  color: #888;
  text-align: left;
}

.submit-regis-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.regis-form-container p {
  margin-top: 0.3rem;
  text-align: left;
}

.regis-form-container a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.regis-form-container {
  font-family: 'Poppins', sans-serif;
  padding: 2rem;
  margin: 2rem auto;
  width: 600px;
  text-align: center;
}

.regis-form-container h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.regis-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.regis-form label {
  text-align: left;
}

.regis-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f0f0f0;
}

.regis-form .input-hint {
  margin-top: -0.5rem;
  font-size: 0.875rem;
  color: #888;
  text-align: left;
}

.submit-regis-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.regis-form-container p {
  margin-top: 0.3rem;
  text-align: left;
}

.regis-form-container a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
  user-select: none;
}

/* Dashboard Sidebar Content */
.dashboard-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

.sidebar {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  min-height: 85vh;
  border-right: 1px solid black;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 1em;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 15px;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1.1em;
}

.sidebar ul li a i {
  margin-right: 10px;
}

.sidebar ul li a.active {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
}

.sidebar ul li a:hover {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
}

/* Dashboard Loker */
.main-content-dashboard {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.main-content-dashboard h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

/* Buat Loker */
.main-content-buatlowongan {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.main-content-buatlowongan h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
}

.main-content-buatlowongan .subHeader {
  text-align: justify;
  margin-bottom: 0.9em;
}

.buat-lowongan-container {
  font-family: 'Poppins', sans-serif;
  width: 600px;
}

.buat-lowongan-container h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.buatloker-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buatloker-form label {
  text-align: left;
}

.buatloker-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f0f0f0;
}

.buatloker-form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f0f0f0;
}

.buatloker-form .input-hint {
  margin-top: -0.5rem;
  font-size: 0.875rem;
  color: #888;
  text-align: left;
}

.submit-buatloker-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.buatloker-form-container p {
  margin-top: 0.3rem;
  text-align: left;
}

.buatloker-form-container a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Manajemen Lowongan */
.main-content-manajemen {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.main-content-manajemen h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.main-content-manajemen .job-cards .job-card a {
  margin-top: 1em;
  display: inline-block;
  padding: 12px 24px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  min-height: 44px;
  min-width: 44px;
}

.main-content-manajemen .job-cards .job-card button {
  margin-top: 1em;
  display: inline-block;
  padding: 12px 24px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  min-height: 44px;
  min-width: 44px;
}

/* Edit Loker */
.main-content-editloker {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.main-content-editloker h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
}

.main-content-editloker .subHeader {
  text-align: justify;
  margin-bottom: 0.9em;
}

.edit-lowongan-container {
  font-family: 'Poppins', sans-serif;
  width: 600px;
}

.edit-lowongan-container h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.editloker-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.editloker-form label {
  text-align: left;
}

.editloker-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f0f0f0;
}

.editloker-form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f0f0f0;
}

.editloker-form .input-hint {
  margin-top: -0.5rem;
  font-size: 0.875rem;
  color: #888;
  text-align: left;
}

.submit-editloker-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
}

.editloker-form-container p {
  margin-top: 0.3rem;
  text-align: left;
}

.editloker-form-container a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Kelola Akun */
.main-content-kelolaakun {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.main-content-kelolaakun h1 {
  font-size: 2em;
  margin-bottom: 0.3em;
}

.main-content-kelolaakun .subHeader {
  text-align: justify;
  margin-bottom: 0.9em;
}

.kelolaakun-container {
  font-family: 'Poppins', sans-serif;
  width: 600px;
}

.kelolaakun-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.kelolaakun-form label {
  text-align: left;
}

.kelolaakun-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #f0f0f0;
}

.kelolaakun-form .input-hint {
  margin-top: -0.5rem;
  font-size: 0.875rem;
  color: #888;
  text-align: left;
}

.submit-kelolaakun-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0.8em;
}

.kelolaakun-form-container p {
  margin-top: 0.3rem;
  text-align: left;
}

.kelolaakun-form-container a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer-copyright {
  margin-bottom: 20px;
  font-size: 18px;
  align-items: flex-start;
  margin-top: 28px;
  margin-left: 20px;
}

.footer-copyright p {
  margin-top: 19px;
  margin-bottom: 17px;
}

.footer-nav {
  display: flex;
  width: 100%;
  max-width: 800px;
  justify-content: space-evenly;
  margin-left: auto;
}

footer .footer-nav ul {
  list-style: none;
}

footer .footer-nav ul li {
  margin: 0;
}

footer .footer-nav ul li h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

footer .footer-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  min-height: 44px;
  min-width: 44px;
}